<%= form_for @wiki do |f| %>
	<% if wiki.errors.any? %>
		<div class="alert alert-danger">
			<h4><%=pluralize(wiki.errors.count, "error") %>.</h4>
			<ul>
				<% wiki.errors.full_messages.each do |msg| %>
					<li><%= msg %>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div "form-group">
		<%= form_group_tag(wiki.errors[:title]) do %>
			<%= f.label :title %>
			<%= f.text_field :title, class: 'form-control', placeholder: 'Enter Wiki Title' %>
		<% end %>
		<%= form_group_tag(wiki.errors[:quote]) do %>
			<%= f.label :quote %>
			<%= f.text_field :quote, class: 'form-control', placeholder: 'Enter Quote' %>
		<% end %>
		<%= form_group_tag(wiki.errors[:body]) do %>
			<%= f.label :body %>
			<%= f.text_area :body, rows: 8, class: 'form-control', placeholder: 'Enter Your Wiki Entry Here' %>
		<% end %>
		<%= form_group_tag(wiki.errors[:sources]) do %>
			<%= f.label :sources %>
			<%= f.text_area :sources, rows: 5, class: 'form-control', placeholder: 'List Your Sources Here' %>
		<% end %>
		<% if current_user.admin? || current_user.premium? %>
			<%= f.label :private do %>
				<%= f.check_box :private, checked: @wiki.private %> Private wiki
			<% end %>
		<% end %>
	</div>
	<% if @wiki.private? && current_user.admin? || current_user.id == @wiki.user_id %>
		<div class="form-group">
			<%= render partial: 'collaborators/form', locals: { wiki: @wiki } %>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".collaborator-modal-lg">
				Manage Collaborators
			</button>
		</div>
	<% end %>
	<div class="form-group">
		<%= f.submit "Save", class: 'btn btn-success' %>
	</div>
<% end %>
