<%= form_tag charges_path do %>
	<h4>Upgrade your account!</h4>
	<article>
		<% if flash[:error].present? %>
			<div id="error_explanation">
				<p><%= flash[:error] %></p>
			</div>
		<% end %>
		<label class="amount">
			<span>Amount: <strong>$50.00</strong></span>
		</label>
	</article>
	<script class='stripe-button' src="https://checkout.stripe.com/checkout.js"
					data-key="<%= @stripe_btn_data[:key] %>"
					data-amount="<%= @stripe_btn_data[:amount] %>"
					data-description="<%= @stripe_btn_data[:description] %>" >
	</script>
<% end %>