<!DOCTYPE html>
<html>
  <head>
    <title>Omnipedia</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item"><%= link_to "Home", welcome_index_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "About", welcome_about_path, class: 'nav-link' %></li>
        <% if user_signed_in? %>
         <p class="float-right">Signed in as: <strong><%= current_user.email %></strong> |</p>
          <li class="float-right"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %></li> - <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'nav-link'  %></li>
        <% else %>
          <li class="float-right"><%= link_to "Sign Up", new_user_registration_path, :class => 'nav-link'  %></li> -
          <li class="float-right"><%= link_to "Sign In", new_user_session_path, :class => 'nav-link'  %></li>
        <% end %>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
