<!DOCTYPE html>
<html>
  <head>
    <title>Omnipedia</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item"><%= link_to "Home", welcome_index_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "About", welcome_about_path, class: 'nav-link' %></li>
      </ul>
      <%= yield %>
    </div>
    <div class="container">
      <h2>Welcome to Omnipedia!</h2>
    </div>
  </body>
</html>
